
<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Your Avatar</h5>
            </div>
            <div class="modal-body" style="text-align:center">
                <img src="https://avatars2.githubusercontent.com/u/3522378?s=400&u=de47609626c15072ce611ac190034458c0031ca1&v=4"
                     alt="avatar" class="profile-photo" />
                <div>
                    <input type="file"/>
                    <button>
                        <i class="fa fa-trash" aria-hidden="true" />
                        &nbsp;Delete
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .profile-photo {
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        border: 6px solid white;
        cursor: pointer;
    }
</style>

@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {


    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;


    public void uploadPhoto()
    {

    }

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }

   
}