/* --------- * https://codyhouse.co/assets/css/style.css?v=110  * ---------  */
*,
*::after,
*::before {
	box-sizing: inherit;
}
* {
	font: inherit;
}
html,
body,
div,
span,
a,
ol,
li,
nav {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	box-sizing: border-box;
}
body {
	background-color: var(--color-bg, white);
}
nav {
	display: block;
}
ol {
	list-style: none;
}
button {
	margin: 0;
}
.app-btn {
	background-color: transparent;
	color: inherit;
	line-height: inherit;
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
svg {
	max-width: 100%;
}
:root {
	--color-primary-darker: hsl(220, 89%, 36%);
	--color-primary-darker-h: 220;
	--color-primary-darker-s: 89%;
	--color-primary-darker-l: 36%;
	--color-primary-dark: hsl(220, 89%, 46%);
	--color-primary-dark-h: 220;
	--color-primary-dark-s: 89%;
	--color-primary-dark-l: 46%;
	--color-primary: hsl(220, 89%, 56%);
	--color-primary-h: 220;
	--color-primary-s: 89%;
	--color-primary-l: 56%;
	--color-primary-light: hsl(220, 89%, 66%);
	--color-primary-light-h: 220;
	--color-primary-light-s: 89%;
	--color-primary-light-l: 66%;
	--color-primary-lighter: hsl(220, 89%, 95%);
	--color-primary-lighter-h: 220;
	--color-primary-lighter-s: 89%;
	--color-primary-lighter-l: 95%;
	--color-accent-darker: hsl(358, 97%, 43%);
	--color-accent-darker-h: 358;
	--color-accent-darker-s: 97%;
	--color-accent-darker-l: 43%;
	--color-accent-dark: hsl(358, 97%, 53%);
	--color-accent-dark-h: 358;
	--color-accent-dark-s: 97%;
	--color-accent-dark-l: 53%;
	--color-accent: hsl(358, 97%, 63%);
	--color-accent-h: 358;
	--color-accent-s: 97%;
	--color-accent-l: 63%;
	--color-accent-light: hsl(358, 97%, 73%);
	--color-accent-light-h: 358;
	--color-accent-light-s: 97%;
	--color-accent-light-l: 73%;
	--color-accent-lighter: hsl(358, 97%, 83%);
	--color-accent-lighter-h: 358;
	--color-accent-lighter-s: 97%;
	--color-accent-lighter-l: 83%;
	--color-secondary-darker: hsl(197, 73%, 37%);
	--color-secondary-darker-h: 197;
	--color-secondary-darker-s: 73%;
	--color-secondary-darker-l: 37%;
	--color-secondary-dark: hsl(197, 73%, 47%);
	--color-secondary-dark-h: 197;
	--color-secondary-dark-s: 73%;
	--color-secondary-dark-l: 47%;
	--color-secondary: hsl(197, 73%, 57%);
	--color-secondary-h: 197;
	--color-secondary-s: 73%;
	--color-secondary-l: 57%;
	--color-secondary-light: hsl(197, 73%, 67%);
	--color-secondary-light-h: 197;
	--color-secondary-light-s: 73%;
	--color-secondary-light-l: 67%;
	--color-secondary-lighter: hsl(197, 73%, 95%);
	--color-secondary-lighter-h: 197;
	--color-secondary-lighter-s: 73%;
	--color-secondary-lighter-l: 95%;
	--color-black: hsl(240, 8%, 12%);
	--color-black-h: 240;
	--color-black-s: 8%;
	--color-black-l: 12%;
	--color-white: hsl(0, 0%, 100%);
	--color-white-h: 0;
	--color-white-s: 0%;
	--color-white-l: 100%;
	--color-warning-darker: hsl(46, 100%, 41%);
	--color-warning-darker-h: 46;
	--color-warning-darker-s: 100%;
	--color-warning-darker-l: 41%;
	--color-warning-dark: hsl(46, 100%, 51%);
	--color-warning-dark-h: 46;
	--color-warning-dark-s: 100%;
	--color-warning-dark-l: 51%;
	--color-warning: hsl(46, 100%, 61%);
	--color-warning-h: 46;
	--color-warning-s: 100%;
	--color-warning-l: 61%;
	--color-warning-light: hsl(46, 100%, 71%);
	--color-warning-light-h: 46;
	--color-warning-light-s: 100%;
	--color-warning-light-l: 71%;
	--color-warning-lighter: hsl(46, 100%, 81%);
	--color-warning-lighter-h: 46;
	--color-warning-lighter-s: 100%;
	--color-warning-lighter-l: 81%;
	--color-success-darker: hsl(94, 48%, 36%);
	--color-success-darker-h: 94;
	--color-success-darker-s: 48%;
	--color-success-darker-l: 36%;
	--color-success-dark: hsl(94, 48%, 46%);
	--color-success-dark-h: 94;
	--color-success-dark-s: 48%;
	--color-success-dark-l: 46%;
	--color-success: hsl(94, 48%, 56%);
	--color-success-h: 94;
	--color-success-s: 48%;
	--color-success-l: 56%;
	--color-success-light: hsl(94, 48%, 66%);
	--color-success-light-h: 94;
	--color-success-light-s: 48%;
	--color-success-light-l: 66%;
	--color-success-lighter: hsl(94, 48%, 76%);
	--color-success-lighter-h: 94;
	--color-success-lighter-s: 48%;
	--color-success-lighter-l: 76%;
	--color-error-darker: hsl(358, 97%, 43%);
	--color-error-darker-h: 358;
	--color-error-darker-s: 97%;
	--color-error-darker-l: 43%;
	--color-error-dark: hsl(358, 97%, 53%);
	--color-error-dark-h: 358;
	--color-error-dark-s: 97%;
	--color-error-dark-l: 53%;
	--color-error: hsl(358, 97%, 63%);
	--color-error-h: 358;
	--color-error-s: 97%;
	--color-error-l: 63%;
	--color-error-light: hsl(358, 97%, 73%);
	--color-error-light-h: 358;
	--color-error-light-s: 97%;
	--color-error-light-l: 73%;
	--color-error-lighter: hsl(358, 97%, 83%);
	--color-error-lighter-h: 358;
	--color-error-lighter-s: 97%;
	--color-error-lighter-l: 83%;
	--color-bg: hsl(0, 0%, 100%);
	--color-bg-h: 0;
	--color-bg-s: 0%;
	--color-bg-l: 100%;
	--color-contrast-lower: hsl(0, 0%, 95%);
	--color-contrast-lower-h: 0;
	--color-contrast-lower-s: 0%;
	--color-contrast-lower-l: 95%;
	--color-contrast-low: hsl(240, 1%, 85%);
	--color-contrast-low-h: 240;
	--color-contrast-low-s: 1%;
	--color-contrast-low-l: 85%;
	--color-contrast-medium: hsl(240, 1%, 60%);
	--color-contrast-medium-h: 240;
	--color-contrast-medium-s: 1%;
	--color-contrast-medium-l: 60%;
	--color-contrast-high: hsl(240, 4%, 20%);
	--color-contrast-high-h: 240;
	--color-contrast-high-s: 4%;
	--color-contrast-high-l: 20%;
	--color-contrast-higher: hsl(240, 8%, 12%);
	--color-contrast-higher-h: 240;
	--color-contrast-higher-s: 8%;
	--color-contrast-higher-l: 12%;
	--color-twitter: #4a9eec;
	--color-facebook: #415994;
	--color-dribbble: #ea4c89;
	--color-github: #24292e;
	--color-youtube: #ea3323;
	--color-instagram: #e02d69;
}
@supports (--css: variables) {
}
@supports (--css: variables) {
}
@supports (--css: variables) {
}
:root,
body {
	--space-unit: 1em;
	--space-xxxxs: calc(0.125 * var(--space-unit));
	--space-xxxs: calc(0.25 * var(--space-unit));
	--space-xxs: calc(0.375 * var(--space-unit));
	--space-xs: calc(0.5 * var(--space-unit));
	--space-sm: calc(0.75 * var(--space-unit));
	--space-md: calc(1.25 * var(--space-unit));
	--space-lg: calc(2 * var(--space-unit));
	--space-xl: calc(3.25 * var(--space-unit));
	--space-xxl: calc(5.25 * var(--space-unit));
	--space-xxxl: calc(8.5 * var(--space-unit));
	--space-xxxxl: calc(13.75 * var(--space-unit));
	--component-padding: var(--space-md);
}
@supports (--css: variables) {
	@media (min-width: 64rem) {
		body {
			--space-unit: 1.25em;
		}
	}
}
:root {
	--max-width-xxxxs: 20rem;
	--max-width-xxxs: 26rem;
	--max-width-xxs: 32rem;
	--max-width-xs: 38rem;
	--max-width-sm: 48rem;
	--max-width-md: 64rem;
	--max-width-lg: 80rem;
	--max-width-xl: 90rem;
	--max-width-xxl: 100rem;
	--max-width-xxxl: 120rem;
	--max-width-xxxxl: 150rem;
}
@supports (--css: variables) {
}
@media (min-width: 32rem) {
	@supports (--css: variables) {
	}
}
@media (min-width: 48rem) {
	@supports (--css: variables) {
	}
}
@media (min-width: 64rem) {
	@supports (--css: variables) {
	}
}
@media (min-width: 80rem) {
	@supports (--css: variables) {
	}
}
@media (min-width: 90rem) {
	@supports (--css: variables) {
	}
}
:root {
	--bounce: cubic-bezier(0.25, 1.43, 0.35, 1.69);
	--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
	--radius: 0.25em;
	--radius-sm: calc(var(--radius, 0.25em) / 2);
	--radius-md: var(--radius, 0.25em);
	--radius-lg: calc(var(--radius, 0.25em) * 2);
	--shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
	--shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025),
		0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
	--shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03),
		0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
	--shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
		0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
		0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
		0 30px 42px -1px rgba(0, 0, 0, 0.15);
	--shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012),
		0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035),
		0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07),
		0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117),
		0 46px 60px -6px rgba(0, 0, 0, 0.2);
}
:root {
	--font-primary: -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--font-secondary: -apple-system, BlinkMacSystemFont, Helvetica, Arial,
		sans-serif;
	--font-mono: Menlo, Consolas, Liberation Mono, monospace;
	--text-base-size: 1em;
	--text-scale-ratio: 1.2;
	--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(1em / var(--text-scale-ratio));
	--text-md: calc(1em * var(--text-scale-ratio));
	--text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
	--text-xl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
	--text-xxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--text-xxxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio)
	);
	--text-xxxxl: calc(
		1em * var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio) *
			var(--text-scale-ratio) * var(--text-scale-ratio)
	);
	--body-line-height: 1.4;
	--heading-line-height: 1.2;
	--font-primary-capital-letter: 1;
	--font-secondary-capital-letter: 0.5;
	--drop-cap-size-ratio: 3.5;
	--drop-cap-padding: 1.5em;
}
@supports (--css: variables) {
	@media (min-width: 64rem) {
		:root {
			--text-base-size: 1.25em;
			--text-scale-ratio: 1.25;
		}
	}
}
body {
	font-size: var(--text-base-size);
	font-family: var(--font-primary);
	color: var(--color-contrast-high);
}
a {
	color: var(--color-primary);
	-webkit-text-decoration-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		0.25
	);
	text-decoration-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		0.25
	);
}
a:hover {
	-webkit-text-decoration-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		1
	);
	text-decoration-color: hsla(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l),
		1
	);
}
:root {
	--icon-xxs: 12px;
	--icon-xs: 16px;
	--icon-sm: 24px;
	--icon-md: 32px;
	--icon-lg: 48px;
	--icon-xl: 64px;
	--icon-xxl: 96px;
}
.icon {
	display: inline-block;
	color: inherit;
	fill: currentColor;
	height: 1em;
	width: 1em;
	line-height: 1;
	flex-shrink: 0;
	max-width: initial;
}
.icon--xxs {
	font-size: var(--icon-xxs);
}
.icon--xs {
	font-size: var(--icon-xs);
}
.icon--is-spinning {
	-webkit-animation: icon-spin 0.8s infinite linear;
	animation: icon-spin 0.8s infinite linear;
}
@-webkit-keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes icon-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
:root {
	--btn-sm: 0.8em;
	--btn-md: 1.2em;
	--btn-lg: 1.4em;
}
.app-btn {
	display: inline-flex;
	position: relative;
	white-space: nowrap;
	text-decoration: none;
	line-height: 1.2;
	font-size: 1em;
	color: var(--color-primary);
	justify-content: center;
	align-items: center;
}
.app-btn {
	padding: var(--space-xs) var(--space-sm);
	border-radius: 0.25em;
}
.app-btn:focus {
	outline: none;
}
.app-btn--primary {
	background-color: var(--color-primary);
	color: var(--color-white);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2);
}
.app-btn--primary:active {
	background-color: var(--color-primary-dark);
}
.app-btn--primary:focus {
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2),
		0 0 0 2px
			hsla(
				var(--color-primary-h),
				var(--color-primary-s),
				var(--color-primary-l),
				0.3
			);
}
.app-btn--contrast {
	background-color: var(--color-contrast-high);
	color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 -1px rgba(0, 0, 0, 0.2);
}
.app-btn--contrast:active {
	background-color: var(--color-contrast-higher);
}
.app-btn--contrast:focus {
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2),
		0 0 0 2px
			hsla(
				var(--color-contrast-higher-h),
				var(--color-contrast-higher-s),
				var(--color-contrast-higher-l),
				0.2
			);
}
.app-btn--subtle {
	background-color: transparent;
	color: var(--color-contrast-higher);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1),
		inset 0 0 0 1px var(--color-contrast-low);
}
.app-btn--subtle:active {
	background-color: var(--color-contrast-lower);
}
.app-btn--subtle:focus {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 0 1px var(--color-primary),
		0 0 0 2px
			hsla(
				var(--color-primary-h),
				var(--color-primary-s),
				var(--color-primary-l),
				0.3
			);
}
:root {
	--app-form-control-height: 24px;
	--app-form-control-padding: 4px;
	--app-form-control-sm: 54px;
}
:root {
	--zindex-header: 4;
	--zindex-fixed-element: 5;
	--zindex-overlay: 10;
}
:root {
	--hljs-color-bg: #303035;
}
@media not all and (min-width: 48rem) {
	.display\@sm {
		display: none !important;
	}
}
@media not all and (min-width: 64rem) {
	.display\@md {
		display: none !important;
	}
}
@media not all and (min-width: 80rem) {
	.display\@lg {
		display: none !important;
	}
}
:root {
	--display: block;
}
.flex {
	display: flex;
}
.items-center {
	align-items: center;
}
.margin-right-xxs {
	margin-right: var(--space-xxs);
}
.margin-left-xs {
	margin-left: var(--space-xs);
}
.margin-left-sm {
	margin-left: var(--space-sm);
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
@supports (--css: variables) {
}
[class*='color-'] {
	--color-o: 1;
}
.color-contrast-medium {
	color: hsla(
		var(--color-contrast-medium-h),
		var(--color-contrast-medium-s),
		var(--color-contrast-medium-l),
		var(--color-o, 1)
	);
}
@supports (--css: variables) {
}
@supports (--css: variables) {
}
@supports (--css: variables) {
}
@media (min-width: 32rem) {
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
}
@media (min-width: 48rem) {
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
}
@media (min-width: 64rem) {
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
}
@media (min-width: 80rem) {
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
}
@media (min-width: 90rem) {
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
	@supports (--css: variables) {
	}
}
@media not all and (min-width: 48rem) {
	.display\@sm {
		display: none !important;
	}
}
@media not all and (min-width: 64rem) {
	.display\@md {
		display: none !important;
	}
}
@media not all and (min-width: 80rem) {
	.display\@lg {
		display: none !important;
	}
}
:root {
	--main-header-height: 70px;
}
@media (min-width: 64rem) {
	:root {
		--main-header-height: 80px;
	}
}
.app-btn .btn__content-a {
	display: inline-flex;
}
.app-btn .btn__content-b {
	display: none;
}
.btn--preserve-width .btn__content-b {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
@supports (grid-area: auto) {
}
@supports (
	(-webkit-animation-name: cta-components-rect-1) or
		(animation-name: cta-components-rect-1)
) {
}
@supports (
	(-webkit-animation-name: cta-components-rect-1) or
		(animation-name: cta-components-rect-1)
) {
}
@supports (
	(-webkit-animation-name: cta-components-rect-1) or
		(animation-name: cta-components-rect-1)
) {
}
.breadcrumbs {
	font-size: var(--text-sm);
}
.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: calc(-1 * var(--space-xxs));
}
.breadcrumbs__list li {
	margin-bottom: var(--space-xxs);
	display: inline-flex;
	align-items: center;
	color: var(--color-contrast-higher);
}
.breadcrumbs__list a {
	color: var(--color-contrast-higher);
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor;
}
.breadcrumbs__separator {
	margin: 0 var(--space-xxxs);
}
.breadcrumbs__separator .icon {
	display: block;
	color: inherit;
}
.breadcrumbs__bookmark {
	margin-left: var(--space-xxs);
}
.breadcrumbs__bookmark button {
	background-color: transparent;
	padding: 0;
	border: 0;
	border-radius: 0;
	color: inherit;
	line-height: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.breadcrumbs__bookmark .icon {
	display: block;
	color: var(--color-contrast-medium);
	height: 12px;
	width: 12px;
	opacity: 0.75;
}
.breadcrumbs__bookmark button.selected .icon {
	color: var(--color-accent);
}
.breadcrumbs__bookmark button:hover .icon {
	opacity: 1;
}
.breadcrumbs__bookmark button:focus {
	outline: 2px solid var(--color-accent);
	outline-offset: 2px;
}
:root {
	--modal-close-btn-inner-size: 1.25em;
	--modal-close-btn-inner-padding: var(--space-xs);
	--modal-close-btn-outer-size: 1.8em;
	--modal-close-btn-outer-padding: var(--space-sm);
	--modal-header-sticky-height: 60px;
}
@media (min-width: 64rem) {
	:root {
		--modal-header-sticky-height: 80px;
	}
}
:root {
	--password-btn-width: 3.5em;
	--password-icon-size: 2em;
}
:root {
	--alert-icon-size: 1.6em;
}
:root {
	--steps-number: 2;
	--step-separator-line-stroke: 3px;
	--step-separator-line-gap: 3px;
	--step-circle-size: 32px;
	--step-circle-font-size: 1em;
}
@media (min-width: 64rem) {
	@supports (grid-area: auto) {
	}
	@supports (grid-area: auto) {
	}
}
:root {
	--author-img-size: 4em;
}
:root {
	--author-v2-img-size: 3.2em;
}
:root {
	--tooltip-triangle-size: 12px;
}
@supports ((-webkit-clip-path: inset(50%)) or (clip-path: inset(50%))) {
}
:root {
	--loop-tabs-border-width: 1px;
	--loop-tabs-transition-duration: 0.5s;
}
:root {
	--decorative-divider-width: 1920;
	--decorative-divider-height: 60;
	--decorative-divider-ratio: calc(
		100% * var(--decorative-divider-height) / var(--decorative-divider-width)
	);
}
:root {
	--checkbox-radio-size: 20px;
	--checkbox-radio-gap: var(--space-xxxs);
	--checkbox-radio-border-width: 2px;
	--checkbox-radio-line-height: var(--body-line-height);
	--radio-marker-size: 8px;
	--checkbox-marker-size: 12px;
	--checkbox-radius: 4px;
}
.radio:not(:checked):not(:focus) + label:hover::before,
.checkbox:not(:checked):not(:focus) + label:hover::before {
	border-color: hsl(
		var(--color-contrast-low-h),
		var(--color-contrast-low-s),
		calc(var(--color-contrast-low-l) * 0.7)
	);
}
:root {
	--sidenav-list-item-height: 36px;
	--sidenav-list-item-h-padding: 12px;
	--sidenav-icon-size: 16px;
	--sidenav-icon-text-gap: 8px;
	--sidenav-sublist-control-size: 6px;
	--sidenav-sublist-control-margin-left: 4px;
	--sidenav-sublist-control-margin-right: 4px;
}
@media (min-width: 64rem) {
	:root {
		--sidenav-sublist-control-size: 20px;
	}
}
:root {
	--app-header-height: 44px;
}
.app-header {
	position: fixed;
	top: 0;
	left: 0;
	height: var(--app-header-height);
	width: 100%;
	background-color: var(--color-bg);
	border-bottom: 1px solid var(--color-contrast-low);
	z-index: var(--zindex-fixed-element);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--space-xs);
	overflow: hidden;
}
.app-header a {
	color: var(--color-contrast-higher);
	-webkit-text-decoration-color: currentColor;
	text-decoration-color: currentColor;
}
.app-header a:hover {
	color: var(--color-primary);
}
.app-header .breadcrumbs {
	font-size: 1em;
}
.app-header__menu-btn {
	padding: 0;
	width: 2em;
	height: 2em;
	justify-content: center;
	align-items: center;
}
.app-header__menu-btn span {
	position: relative;
	display: block;
	height: 1px;
	width: 1em;
	background-color: currentColor;
}
.app-header__menu-btn span::before,
.app-header__menu-btn span::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	background-color: currentColor;
}
.app-header__menu-btn span::before {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.app-header__menu-btn span::after {
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}
:root {
	--app-tabs-height: 28px;
}
:root {
	--app-sidebar-content-width: 200px;
	--app-sidebar-editor-width: 260px;
}
