.custom-contact-modal {
    .modal-dialog {
        width: 90% !important;
        max-width: none !important;
        h2 {
            margin-bottom: 20px;
        }
        .single-btn {
            background: #fff;
            border-radius: 4px;
            height: 30px;
            width: 100px;
            justify-self: end;
            grid-column: 2;
            font-size: 16px;
            margin-right: 20px;
        } 
        .contact-Popup{
            .custom-ag-parent{
                margin-bottom: 20px;
            }
            .right-btn{
                text-align: right;
            }
        }
        
    }
}
