.data-screen-container {
    margin: 0 auto;
    h2 {
        font-size: 22px;
        margin: 0 0 25px;
        font-weight: 500;
        color: #fff;
    }
    .have-selectbox {
        width: 150px;
    }
    input[type="file"] {
        border: none;
        padding: 0;
        color: #fff;
    }
    form {
        h3 {
        font-size: 20px;
        margin-bottom: 20px;
        }
        p.single-form-row {
            margin: 0 0 35px;
            display: grid;
            grid-template-columns: 100px 1fr;
            &:last-child {
                margin: 0;
            }
            label {
                min-width: 100px;
                margin: 0;
                font-size: 18px;
                padding: 0 15px 0 0;
            }
        }
        
        .btn-center {
            text-align: right;
        }
    }
    button.submit-button {
        background: #fff;
        border-radius: 4px;
        height: 30px;
        width: 100px;
        justify-self: end;
        grid-column: 2;    
    }
    .table-container {
        .single-row {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 15px;
            margin: 0 0 12px;
            .form-container {
                margin: 12px 0;
                grid-column: 1 / 6;
            }
        }
    }
}

h2.grid-heading {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 10px;
    text-align: center;
    button {
        background: #fff;
        border-radius: 4px;
        height: 25px;
        width: 130px;
        justify-self: end;
        grid-column: 2;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }  
    .single-form-col {
        margin-bottom: 20px;
        ul.list-item {
            width: 130px;
            height: 130px;
            overflow-y: auto;
            margin: 0;
            li {
                line-height: 32px;
                display: block;
                background-color: #fff;
                color: #000;
                text-decoration: none;
                list-style: none;
                text-align: left;
                padding: 0px 12px;
                label {
                    color: #000;
                    padding: 0;
                    margin: 0;
                }                
            }
        }
    }
}
.off-chain-management {
    .list-box {
        padding: 10px 0;
        li {
            display: block;
            label {
                display: block;
                span {
                    display: block;
                    padding: 0 12px;
                }
            }
            input[type="checkbox"] {
                opacity: 0;
            }
            input[type="checkbox"]:checked + span {
                background-color: red;
            }
        }
    }
}