.data-screen-container {
    margin: 0 auto;
    h2 {
        font-size: 22px;
        margin: 0 0 25px;
        font-weight: 500;
        color: #fff;
    }
    .have-selectbox {
        width: 150px;
    }
    input[type="file"] {
        border: none;
        padding: 0;
        color: #fff;
    }
    form {
        p.single-form-row {
            margin: 0 0 35px;
            display: grid;
            grid-template-columns: 100px 1fr;
            &:last-child {
                margin: 0;
            }
            label {
                min-width: 100px;
                margin: 0;
                font-size: 18px;
                padding: 0 15px 0 0;
            }
        }
    }
    button.submit-button {
        background: #fff;
        border-radius: 4px;
        height: 30px;
        width: 100px;
        justify-self: end;
        grid-column: 2;
    }
    .table-container {
        .single-row {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 15px;
            margin: 0 0 12px;
            .form-container {
                margin: 12px 0;
                grid-column: 1 / 6;
            }
        }
    }
}

h2.grid-heading {
    font-size: 22px;
    line-height: 22px;
    margin: 0 0 25px;
}