.dropDown-select {
  width: 100%;
  // height: 34px;
  padding: 2px 3px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  opacity: 0.9;
  outline: none;
  margin-left: 7px;
  border-radius: 5px;
  option {
    color: black;
  }
}