.popup-container {
    width: 100%;
    color: #fff;
    h1 {
        font-weight: 400;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
        @media (max-width: 550px) {
            font-size: 1.5rem;
        }
    }
    input {
        border: 1px solid #909092;
        font-size: 1.15rem;
        padding: 0.25rem 1rem;
        border-radius: 5px;
        color: #fff;
        // background-color: #fff;
    }
    label {
        color: #fff;
        padding: 0.25rem 1rem;
        margin-bottom: 10px;
    }
    .popup {
        background-color: rgba(28, 28, 33, 0.8);
        width: 500px;
        padding: 2rem;
        border-radius: 1rem;
        @media (max-width: 550px) {
            width: 100vw;
            height: 100vh;
        }
    }
    .popup-cancel{
        color: #fff;
        font-size: 1.5rem;
        width: max-content;
        transition: all 0.1s ease-in;
        &:hover{
            color: red;
        }
    }
    .popup-submit-button{
        margin-top: 2rem;
        width: 30%;
        position: relative;
        right: -70%;
        @media (max-width: 550px) {
            width: 100%;
            right: 0;
        }
    }
}

// .payWithSeeds-select {
//     font-size: 1.75rem;
//     color: #fff;
//     background-color: transparent;
//     font-weight: 400;
//     border-radius: 5px;
//     margin-right: 1rem;
//     border: 1px solid #909092;
//     width: auto;
//     @media (max-width:550px) {
//         font-size: 1.5rem;
//     }
// }
// .payWithSeeds-field-group{
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 1rem;
// }
// .accept-invite-button{
//     margin-top: 2rem;
//     position: relative;
//     left: 60%;
//     @media (max-width: 550px) {
//         width: 100%;
//         left: 0;
//     }
// }
// .search-popup{
//     width: 100% !important;
// }
// .search-seeds-row1{
//     display: grid;
//     grid-template-columns: repeat(4, auto 200px);
//     row-gap: 1rem;
//     margin-bottom: 1rem;
//     @media (max-width: 1250px) {
//         grid-template-columns: repeat(2, auto 1fr);
//     }
//     @media (max-width: 890px) {
//         grid-template-columns: auto 1fr;
//     }
//     @media (max-width: 550px) {
//         grid-template-columns: 1fr;
//         row-gap: 0;
//     }
// }
// .search-seeds-row2{
//     display: flex;
//     justify-content: space-between;
//     @media (max-width: 890px) {
//         flex-direction: column;
//     }
//     .search-checkbox-group{
//         display: inline;
//         @media (max-width: 620px) {
//             display: inline-block;
//         }
//     }
// }
// .view-popup{
//     width: 100% !important;
//     text-align: left;
//     .view-seeds-buttons{
//         display: flex;
//         justify-content: space-between;
//         a{
//             margin: 1rem;
//         }
//         @media (max-width: 750px) {
//             flex-direction: column;
//         }
//     }
// }


.seed-container {
    h1 {
        margin-bottom: 22px;
        .custom-selectbox {
            padding: 0.25rem 5px;
            font-size: 18px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid #909092;
            background-color: transparent;
            color: #fff;
            margin-right: 15px;
            @media screen and (min-width:320px) and (max-width:767px) {
                font-size: 15px;
                height: 35px;
                // padding: 0.25rem 15px;
            }
        }
    }
    .fs-34 {
        font-size: 34px;
    }
    .form-container {
        .single-form-row {
            margin-bottom: 22px;
            label {
                display: block;
                padding: 0px;
                font-size: 17px;
                @media screen and (min-width:320px) and (max-width:767px) {
                    font-size: 15px;
                }
            }
            input {
                width: 100%;
                height: 40px;
                padding: 0px 1rem;
                line-height: 40px;
                @media screen and (min-width:320px) and (max-width:767px) {
                    height: 35px;
                }
            }
        }
        // .mb-30 {
        //     margin-bottom: 30px;
        // }
        .btn-right {
            text-align: right;
            .btn-width {
                width: 150px;
            }
        }
    }
}
