/* --------------------------------

File#: _1_header

-------------------------------- */

:root {

  // header
  --header-height: 45px;

  // sidebar
  --sidebar-width: 100%;

  // font
  --font-primary: 'Titillium Web', sans-serif;

}

@supports(--css: variables) {
  :root {
    @include breakpoint(sm) {
      --header-height: 55px;
      --sidebar-width: 260px;
    }
  }
}

/* --------------------------------

main content

-------------------------------- */

body {
  min-height: 100vh;
  background: url('../img/bg.gif');
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

// .user--not-logged-in [data-display=loggedIn] {
//   display: none !important
// }

// .user--logged-in [data-display=notLoggedIn] {
//   display: none !important
// }

/* --------------------------------

header

-------------------------------- */

.main-header {
  position: relative;
  z-index: var(--zindex-fixed-element);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include fontSmooth;

  a {
    text-decoration: none;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
  }
}


.logo-wrapper {
  flex-shrink: 0;
  margin: 4px 0 0 .75em;
  transform-origin: 0 50%;
  transform: scale(0.8);

  &::after {
    display: none;
    content: 'mobile';
  }

  @include breakpoint(sm) {
    display: flex;
    margin: 10px 0 0 1em;
    transform: scale(1);

    &::after {
      content: 'desktop';
    }
  }
}


.top-nav {
  align-items: center;
  display: flex;
  text-align: center;
}


.nav__list {
  display: none;
  opacity: 0;
  visibility: hidden;

  @include breakpoint(sm) {
    display: flex;
    opacity: 1;
    visibility: visible;
    align-items: center;
    height: var(--header-height);
  }
}

  .nav__item {
    margin-left: auto;
    display: inline-block;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding: 0 1.5vw;
    line-height: 1.2;

    a {
      display: flex;
      align-items: center;
      color: var(--color-white);
      text-align: center;
      padding: 0 var(--space-xxxs);
      border: none;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-2);
        transition: all 0.2s ease;
      }
    }
  }


.nav__item--account {

  a {
    display: flex;
    align-items: center;
    // height: var(--header-height);
  }

  svg {
    color: var(--color-white);
    display: flex;
    padding: auto 0;
    text-align: center;
    width: 2em;
  }


  .nav__sub-list {
    position: absolute;
    top: var(--header-height);
    z-index: var(--zindex-header);
    width: 200px;
    // box-shadow: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
    // box-shadow: var(--shadow-md);
    background-color: alpha(var(--color-bg), .666);
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    border-left: 2.5em solid alpha(var(--color-bg), .333);
    display: none;
  }

  // &:hover {}

  .nav__sub-item {

    @include breakpoint(sm) {
      padding: .5em .75em;
      padding: var(--space-xs) var(--space-sm);
      text-align: center;

    }
  }

}

.nav-trigger {
  // navigation trigger - visible only on small devices
  position: relative;
  display: block;
  width: 32px;
  height: 32px;
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
  cursor: pointer;

  // @include breakpoint(sm) {
  //   // height: var(--header-height);
  // }

  span,
  span::before,
  span::after {
    // menu icon
    position: absolute;
    height: 2px;
    width: 24px;
    background: var(--color-white);
  }

  span {
    // line in the center
    top: calc(50% - 2px);
    right: 4px;
    transition: background .2s;
  }

  span::before,
  span::after {
    // other 2 lines
    content: '';
    right: 0;
    transform-origin: 0 50%;
    transition: transform .2s;
  }

  span::before {
    // menu icon top line
    top: -6px;
  }

  span::after {
    // menu icon bottom line
    top: 6px;
  }

  // @include breakpoint(sm) {
  //   display: none; // hide on bigger devices
  // }
}

.nav-trigger.is-clicked {

  // icon animation
  span {
    // hide line in the center
    background: alpha(var(--color-white), 0);
  }

  span::before,
  span::after {
    // make sure other 2 lines are visible
    background: alpha(var(--color-white), 1);
  }

  span::before {
    transform: translateX(4px) translateY(-3px) rotate(45deg);
  }

  span::after {
    transform: translateX(4px) translateY(2px) rotate(-45deg);
  }
}

.hide-logins{
  visibility: hidden;
}