<header class="main-header js-main-header">
    <div class="logo-wrapper js-logo-wrapper">
        <a href="#0" class="logo"> <img src="assets/img/dummy-logo.svg" alt="Logo"> </a>
    </div>
    <div class="top-nav js-top-nav">
        <ul class="nav__list js-nav__list">
            <li class="nav__item js-nav__login"><a class="js-modal-trigger" href="#0" id="loginBtn"
                    data-signin="login">Log
                    in</a> </li>
            <li class="nav__item js-nav__login"><a class="js-modal-trigger" href="#0" id="signupBtn"
                    data-signin="signup">Sign up</a>
            </li>
        </ul>
        <div class="nav__item nav__item--account" data-display="loggedIn">
            <a href="#0">
                <svg class="avatar" viewBox="0 0 26.5 26.5">
                    <path
                        d="M24.75 13.25a11.5 11.5 0 01-11.5 11.5 11.5 11.5 0 01-11.5-11.5 11.5 11.5 0 0111.5-11.5 11.5 11.5 0 0111.5 11.5zm-3.501 8.243c-.5-3.246-4-6.246-7.995-6.238C9.25 15.247 5.75 18.247 5.25 21.5m13-11.248a5 5 0 01-5 5 5 5 0 01-5-5 5 5 0 015-5 5 5 0 015 5z"
                        fill="none" stroke="currentColor" stroke-width="1.5" />
                </svg>
            </a>
            <ul class="nav__sub-list">
                <li class="nav__sub-item"><a href="#0">My Account</a></li>
                <li class="nav__sub-item"><a href="#0">Edit Account</a></li>
                <li class="nav__sub-item"><a href="#0">Logout</a></li>
            </ul>
        </div>
        <div class="nav__item">
            <button (click)="toggleMenu()" class="reset nav-trigger js-nav-trigger"
                aria-label="Toggle menu"><span></span></button>
        </div>
    </div>
</header>
<app-side-nav [(visible)]="isMenuVisible"></app-side-nav>