@page "/profile/{userId}"
@using NextGenSoftware.OASIS.API.ONODE.WebUI.Blazor.Popups

    <div class="profile-container">
        <div class="profile-content">
            <div class="banner">
                <img src="/images/profile-bg.jpg" asp-append-version="true" width="100%" />
            </div>
            <div class="profile-title">
                <img src="https://avatars2.githubusercontent.com/u/3522378?s=400&u=de47609626c15072ce611ac190034458c0031ca1&v=4"
                      @onclick="() => AvtarUploadModal.Open()"
                     alt="avatar" class="profile-photo" />
                <div style="margin: 25px 50px">
                    <h1 class="text-name">
                        @firstName @lastName
                        <span style="font-size: 18px">&#64;@userId</span>
                        <span>
                            <img src="/images/badges/superhero.png"
                                 alt="badge" class="profile-badge" />
                        </span>
                    </h1>

                    <p style="color:white">Karma @karmaString</p>

                </div>
            </div>

            <div class="profile-data">
                <div class="side-bar">
                    <div style="margin-bottom:5px">
                        <button class="button-main"
                                style="width: 100%">
                            <i class="fas fa-user-friends" aria-hidden="true" />
                            &nbsp;ADD FRIEND
                        </button>
                    </div>
                    <div style="display: flex">
                        <button class="button-main"
                                style="width: 30%; margin-right:5px">
                            <i class="fas fa-heart" aria-hidden="true" />
                            &nbsp;35
                        </button>
                        <button class="button-main"
                                style="width: 70%">
                            <i class="fa fa-plus" aria-hidden="true" />
                            &nbsp;FOLLOW
                        </button>
                    </div>
                </div>
                <div class="main-side">

                </div>
            </div>
        </div>

        <OASIS_BLAZOR.Popups.AvatarUpload @ref="AvtarUploadModal"/>
    </div>

<style>
    .profile-container {
        background-image: url(/images/profile-container-bg.jpg);
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }

    .profile-content {
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        position: relative;
        background-color: #16213E;
        height: 800px;
        border-radius: 10px;
        overflow: hidden;
    }

    .banner {
        height: 200px;
        object-fit: contain;
        overflow: hidden;
    }

    .profile-title {
        position: absolute;
        left: 100px;
        top: 100px;
        display: flex;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        border: 6px solid white;
        cursor: pointer;
    }

    .text-name {
        color: white;
        margin-bottom: 0px;
    }

    .profile-badge {
        width: 30px;
        height: 25px;
    }

    .profile-data {
        margin: 120px 100px 100px 100px;
        display: flex;
    }

    .side-bar {
        width: 200px;
    }
</style>

@code {
    [Parameter]
    public string userId { get; set; }
    public string firstName { get; set; }
    public string lastName { get; set; }
    public int karma { get; set; }

    private string karmaString;
    private NextGenSoftware.OASIS.API.ONODE.WebUI.Blazor.Popups.AvatarUpload AvtarUploadModal { get; set; }

    protected override void OnInitialized()
    {
        userId = "dellams";
        firstName = "David";
        lastName = "Ellams";
        karma = 9999999;

        karmaString = karma.ToString("##,##0");
    }
}
