.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(94, 94, 94, 0.1);
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  display: flex;
  .container {
    width: 300px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 10px;
  }
}
