<div class="modal js-modal modal--animate-scale" id="modal" [ngClass]="visible ? 'is-visible' : ''"
    (click)="closeModal($event)">
    <div class="modal__block js-modal-block" [ngClass]="view == 'login' ? 'is-selected' : ''" data-type="login"
        *ngIf="view == 'login'">
        <form id="login-form" class="margin-bottom-sm" role="alertdialog" method="POST" onsubmit="return false">
            <div class="text-component text-center margin-bottom-lg">
                <h1 class="font-normal">Log In</h1>
                <p class="color-contrast-medium">Don't have an account? <a class="js-modal-trigger" data-signin="signup"
                        href="#0">Sign Up!</a>
                </p>
            </div>
            <div class="margin-bottom-lg">
                <label class="form-label" for="login-email">Email</label>
                <input aria-label="Email" class="form-control width-100%" type="email" name="login-email"
                    id="login-email" placeholder="name@example.com" required>
            </div>
            <div class="margin-bottom-lg">
                <label class="form-label" for="login-password">Password</label>
                <div class="password js-password">
                    <input aria-label="Password" class="form-control width-100% js-password__input" type="password"
                        name="login-password" id="login-password" required>
                    <button class="password__btn flex flex-center js-password__btn">
                        <span class="password__btn-label" aria-label="Show password" title="Show password">
                            <svg class="icon block" viewBox="0 0 32 32">
                                <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2"
                                    stroke="currentColor" fill="none">
                                    <path
                                        d="M1.409,17.182a1.936,1.936,0,0,1-.008-2.37C3.422,12.162,8.886,6,16,6c7.02,0,12.536,6.158,14.585,8.81a1.937,1.937,0,0,1,0,2.38C28.536,19.842,23.02,26,16,26S3.453,19.828,1.409,17.182Z"
                                        stroke-miterlimit="10"></path>
                                    <circle cx="16" cy="16" r="6" stroke-miterlimit="10"></circle>
                                </g>
                            </svg>
                        </span>
                        <span class="password__btn-label" aria-label="Hide password" title="Hide password">
                            <svg class="icon block" viewBox="0 0 32 32">
                                <g stroke-linecap="square" stroke-linejoin="miter" stroke-width="2"
                                    stroke="currentColor" fill="none">
                                    <path data-cap="butt"
                                        d="M8.373,23.627a27.659,27.659,0,0,1-6.958-6.445,1.938,1.938,0,0,1-.008-2.37C3.428,12.162,8.892,6,16.006,6a14.545,14.545,0,0,1,7.626,2.368"
                                        stroke-miterlimit="10" stroke-linecap="butt"></path>
                                    <path
                                        d="M27,10.923a30.256,30.256,0,0,1,3.591,3.887,1.937,1.937,0,0,1,0,2.38C28.542,19.842,23.026,26,16.006,26A12.843,12.843,0,0,1,12,25.341"
                                        stroke-miterlimit="10"></path>
                                    <path data-cap="butt" d="M11.764,20.243a6,6,0,0,1,8.482-8.489"
                                        stroke-miterlimit="10" stroke-linecap="butt">
                                    </path>
                                    <path d="M21.923,15a6.005,6.005,0,0,1-5.917,7A6.061,6.061,0,0,1,15,21.916"
                                        stroke-miterlimit="10">
                                    </path>
                                    <line x1="2" y1="30" x2="30" y2="2" fill="none" stroke-miterlimit="10"></line>
                                </g>
                            </svg></span>
                    </button>
                </div>
                <p aria-label="Forgot password"><a class="js-modal-trigger" data-signin="forgot" href="#0">Forgot
                        Password?</a></p>
            </div>
            <div class="margin-bottom-lg">
                <input aria-label="Remember me" class="checkbox" type="checkbox" value="true" name="rememberMe"
                    id="rememberMe">
                <label class="color-contrast-medium" for="rememberMe">Remember Me</label>
            </div>
            <div class="flex flex-center">
                <input aria-label="Submit" id="login-submit" class="btn btn--md btn--primary width-50%" type="submit"
                    form="login-form" value="Submit" onclick="onLogin()">
            </div>
        </form>
    </div>
    <div class="modal__block js-modal-block" data-type="signup" [ngClass]="view == 'signup' ? 'is-selected' : ''"
        *ngIf="view == 'signup'">
        <form id="signup-form" class="margin-bottom-sm" role="alertdialog" method="POST" onsubmit="return false">
            <div class="text-component text-center margin-bottom-lg">
                <h1 class="font-normal">Sign Up</h1>
                <p class="color-contrast-medium">Already have an account? <a class="js-modal-trigger"
                        data-signin="login" href="#0"> Sign In!</a>
                </p>
            </div>
            <div class="margin-bottom-lg">
                <label class="form-label required" for="signup-email">Email</label>
                <input aria-label="Email" class="form-control width-100%" type="email" name="signup-email"
                    id="signup-email" placeholder="name@example.com" required>
            </div>
            <div class="margin-bottom-lg">
                <p class="text-sm float-right color-contrast-medium padding-x-xs padding-y-xxs">minimum 6 characters</p>
                <label class="form-label required" for="signup-password">Password</label>
                <input aria-label="Password" class="form-control width-100%" type="password" name="signup-password"
                    id="signup-password" placeholder=" " minLength="6" required>
            </div>
            <div class="margin-bottom-lg">
                <label class="form-label required" for="confirm-signup-password">Confirm Password</label>
                <input aria-label="Confirm password" class="form-control width-100%" type="password"
                    name="confirm-signup-password" id="confirm-signup-password" placeholder=" " minLength="6" required>
            </div>
            <div class="justify-center gap-xxs margin-bottom-lg">
                <input aria-label="Accept terms" class="checkbox" type="checkbox" value="true" name="acceptTerms"
                    id="acceptTerms">
                <label class="color-contrast-medium" for="acceptTerms">I have read and accept the <a href="#0">Terms of
                        Service</a></label>
            </div>
            <div class="flex flex-center">
                <input type="hidden" value="User" name="AvatarType" id="AvatarType">
                <input aria-label="Submit" id="signup-submit" class="btn btn--md btn--primary width-50%" type="submit"
                    value="Submit" form="signup-form" onclick="onSignup()">
            </div>
        </form>
    </div>
    <div class="modal__block js-modal-block" data-type="forgot" *ngIf="view == 'forgot'"
        [ngClass]="view == 'forgot' ? 'is-selected' : ''">
        <form id="forgot-form" class="margin-bottom-sm" role="alertdialog">
            <div class="text-component text-center margin-bottom-lg">
                <h1 class="font-normal">Recover Password</h1>
                <p class="color-contrast-medium">Enter your email address and we'll send you a link to reset your
                    password
                </p>
            </div>
            <div class="margin-bottom-xl">
                <label class="form-label padding-top-sm" for="email">Email</label>
                <input aria-label="Email" id="forgotEmail" class="form-control width-100%" type="email" name="email"
                    placeholder=" ">
            </div>
            <div class="flex flex-center margin-y-md">
                <input aria-label="Submit" id="reset-submit" class="btn btn--md btn--primary width-50%" type="submit"
                    value="Submit" onclick="something()">
            </div>
            <div class="text-center">
                <a class="js-modal-trigger" data-signin="login" href="#0">← Back to login</a>
            </div>
        </form>
    </div>
    <div class="modal__block js-modal-block" data-type="reset" [ngClass]="view == 'reset' ? 'is-selected' : ''"
        *ngIf="view == 'reset'">
        <form id="reset-form" class="margin-bottom-sm" role="alertdialog">
            <div class="text-component text-center margin-bottom-lg">
                <h1 class="font-normal">Reset Password?</h1>
                <p class="color-contrast-medium"> </p>
            </div>
            <div class="margin-bottom-xl">
                <label class="form-label padding-top-sm" for="newPassword">New Password</label>
                <input aria-label="New Password" class="form-control width-100%" type="password" name="newPasword"
                    id="newPassword" placeholder=" ">
                <div class="margin-bottom-xl">
                    <label class="form-label padding-top-sm" for="confirmNewPassword">Retype Password</label>
                    <input aria-label="Confirm Password" class="form-control width-100%" type="password"
                        name="confirmNewPasword" id="confirmNewPasword" placeholder=" ">
                </div>
            </div>
            <div class="flex flex-center margin-y-md">
                <button class="btn btn--md btn--primary width-50%">Reset Password</button>
            </div>
        </form>
    </div>
</div>