/* --------------------------------

File#: _1_side-nav

-------------------------------- */

:root {
    // header
    --header-height: 45px;

    // sidebar
    --sidebar-width: 100%;

    // font
    --font-primary: 'Titillium Web', sans-serif;
}

@supports (--css: variables) {
    :root {
        @include breakpoint(sm) {
            --header-height: 55px;
            --sidebar-width: 400px;
        }
    }
}

.side-nav {
    position: absolute;
    display: block;
    height: 100vh;
    z-index: var(--zindex-header);
    width: 100%;
    right: 0;
    top: 0;
    padding-top: calc(var(--header-height) + 1em);
    padding-left: 1em;
    background-color: hsla(0, 0%, 0%, 0.666);
    box-shadow: var(--shadow-md);
    @include fontSmooth;
    transform: translateX(var(--sidebar-width));
    transition: transform 0.3s;
    backdrop-filter: blur(10px);
    background-clip: padding-box;
    overflow-y: auto;
    // border-left: 2.5em solid hsla(0, 0%, 0%, 0.333);

    a {
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    @include breakpoint(sm) {
        // move to the side
        width: var(--sidebar-width);
        transform: translateX(var(--sidebar-width));
        transition: transform 0.3s;
        padding-left: 0.5em;
    }
}

.side-nav.is-visible {
    transform: translateX(0);
    transition: all 0.3s ease;
    transition: transform 0.3s;
}

.side__list {
    .side__item {
        position: relative;
        display: block;
        line-height: 2em;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 500;
        padding: 4px 16px;
        // color: #1b90ca;
        color: var(--color-2);
        transition: all 0.1s;

        a {
            padding-left: 0.25em;
            border-left: 0.25em solid #00000000;
            transition: all 0.1s;
        }
    }

    .js-nav__login > a {
        color: var(--color-white);

        @include breakpoint(sm) {
            display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    .item--has-children {
        .submenu-open {
            border-color: rgb(24, 133, 201);
            transition: all 0.3s;
            color: #fff;
        }
    }

    .item-has-children > a.submenu-open::after {
        // background-color: #fff;
        // opacity: 100%;
        transform: rotate(90deg);
        transition: all 0.3s ease;
    }

    .sub-menu {
        padding: 15px;
        display: none;

        @include breakpoint(sm) {
            padding: 10px 10px 10px 15px;
        }
    }
}

li i.material-icons {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
.sub-menu li i.material-icons {
    margin-left: -23px;
}
.sub-menu li {
    padding-left: 10px;
    font-size: 0.85em;
}
.jsonIcon {
    font-size: 0.7em;
}
