.lateral-nav {
	position: fixed;
	height: 100%;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 1;
	width: 260px;
	background-color: #242e30;
	overflow-y: auto;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
	-moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
	transition: transform 0.4s 0s, visibility 0s 0.4s;
	-webkit-transform: translateX(80px) translateZ(0);
	-moz-transform: translateX(80px) translateZ(0);
	-ms-transform: translateX(80px) translateZ(0);
	-o-transform: translateX(80px) translateZ(0);
	transform: translateX(80px) translateZ(0);
}

.lateral-nav .navigation {
	margin: 10px 0 16px;
}

.lateral-nav .sub-menu {
	padding: 0 10px 20px 15px;
	display: none;
}

.lateral-nav a {
	display: block;
	line-height: 2em;
	padding: 0 16px 0 32px;
	color: #aab5b7;
}

.lateral-nav a.current {
	background-color: #3a4a4d;
	color: #fff;
}

.no-touch .lateral-nav a:hover {
	color: #fff;
}

@media only screen and (min-width: 768px) {
	.lateral-nav .navigation {
		margin: 20px 0;
	}
}

.lateral-nav .lateral-menu-is-open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	-webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
	-moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
	transition: transform 0.4s 0s, visibility 0s 0s;
	-webkit-overflow-scrolling: touch;
}

.lateral-nav .item-has-children > a {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
}

.lateral-nav .item-has-children > a::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 1em;
	background: url(../img/arrow.svg) no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}

.lateral-nav .item-has-children > a.submenu-open::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}
