@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input type="button" value="Get Weather Forecast" onclick="FetchRemote('https://localhost:5001','/weatherforecast', 'GET')"/>

<div>
    <span id='remoteResponse'></span>
</div>

<script src="~/js/site.js"></script>