// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/forms

// --------------------------------

.form-control {
  background: var(--color-bg);
  border: 1px solid var(--color-contrast-medium);
  font-family: var(--font-primary);
  @include fontSmooth;
  transition: all 0.2s ease;

  &::placeholder {
    // font-size: var(--text-sm);
    letter-spacing: 0.1em;
    opacity: 1;
    color: var(--color-contrast-medium);
  }

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
    outline: none;
  }
}

// .required:after {
//   content: " *";
//   color: red;
// }

// .form-control--disabled,
// .form-control[disabled] {
//   cursor: not-allowed;
// }

.form-control[aria-invalid="true"],
.form-control--error {
  border-color: var(--color-error);

  &:focus {
    box-shadow: 0 0 0 2px alpha(var(--color-error), 0.2);
    --color-shadow: hsla(355, 90%, 61%, 0.2);
    --color-shadow: hsla(var(--color-error-h),
        var(--color-error-s),
        var(--color-error-l),
        0.2);
    box-shadow: 0 0 0 3px var(--color-shadow);
  }
}

.form-legend {
  font-size: var(--text-md);
}

.form-label {
  color: var(--color-contrast-medium);
  font-family: var(--font-primary);
  font-size: var(--form-control-font-size, 1em);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: var(--space-xxs)
}


// --------------------------------

// (END) Global editor code

// --------------------------------