<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NextGenSoftware.OASIS.API.ONODE.WebUI.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}




@*<div class="top-row d-flex justify-content-between w-100">
    <div>
        <OASIS_BLAZOR.Components.ToggleButton />
    </div>
    <div class="d-flex">
        <div class="d-flex" style="cursor: pointer"
             @onclick="@NavigateToProfile">
            <OASIS_BLAZOR.Components.Avatar url="https://avatars2.githubusercontent.com/u/3522378?s=400&u=de47609626c15072ce611ac190034458c0031ca1&v=4" />
            <p class="level">&nbsp;@username / @karma / @level</p>
        </div>
        <p class="ml-5 auth-btn"
           @onclick="@NavigateToLogin">
            LogIn
        </p>
    </div>
</div>

<style>
    .level {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 40px;
        margin-bottom: 0px;
    }

    .auth-btn {
        margin: 0px;
        line-height: 40px;
        cursor: pointer;
    }

        .auth-btn:hover {
            text-decoration: underline;
        }
</style>

@code {
    public string username = "dellams";
    public int karma = 1000;
    public string level = "superhero";

    void NavigateToProfile()
    {
        UriHelper.NavigateTo("profile/" + username);
    }
    void NavigateToLogin()
    {
        UriHelper.NavigateTo("login");
    }
}*@
