a {
  text-decoration: none;
  line-height: 2em;
  font-weight: 500;
}
ul {
  list-style-type: none;
  padding: 0;
}

button{
  text-decoration: none;
  border: none;
  background-color: transparent;
}
input{
  background-color: transparent;
}

.link{
  width: max-content;
	color: var(--color-blue);
}
.link:hover{
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s ease;
}
.link-inverse{
  width: max-content;
	color: var(--color-white);
}
.link-inverse:hover{
  color: var(--color-blue);
  cursor: pointer;
  transition: all 0.2s ease;
}
.button{
  color: var(--color-white);
	background-color: var(--color-blue);
	padding: 0rem 1rem;
	border-radius: 5rem;
	cursor: pointer;
  font-size: 1.15rem;
	transition: all 200ms ease-in;
}
.button:hover{
  background-color: var(--color-blue-light);
}
.button-inverse{
  color: var(--color-blue);
	padding: 0rem 1rem;
	border-radius: 5rem;
	cursor: pointer;
  font-size: 1.15rem;
  border: 1px solid var(--color-blue);
	transition: all 200ms ease-in;
}
.button-inverse:hover{
  background-color: var(--color-blue-light);
  color: var(--color-white);
}
/* FORM CSS */
.single-form-field {
    display: grid;
    margin: 0 0 20px;
}
.single-form-field label {
    margin: 0 0 5px;
}
.single-form-field input {
    padding: 0 15px;
    height: 34px;
    border-radius: 4px;
    margin: 0;
    outline: none;
}
.single-form-field .have-icon {
    position: relative;
    display: grid;
}
.single-form-field .have-icon .field-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    cursor: pointer;
}
.single-form-field .have-icon input {
    padding-right: 40px;
}
.single-form-field span.text-danger {
    color: var(--color-red) !important;
}
.single-form-field.has-error input {
    border-color: var(--color-red) !important;
}