body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  text-decoration: none;
  border: none;
  background-color: transparent;
}
input{
  background-color: transparent;
}

.link{
	color: #1885c9;
}
.link:hover{
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}
.link-inverse{
	color: #fff;
}
.link-inverse:hover{
  color: #1885c9;
  cursor: pointer;
  transition: all 0.2s ease;
}