body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("../img/bg.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

:root{
  --color-blue: #1885c9;
  --color-blue-light: #52b2ee;
  --color-purple: #4440bc;
  --color-white: #fff;
  --color-red: #dc3545;
  --color-grey: #909092;
  --popup-color: hsla(240, 8%, 12%, 0.8);
  --popup-box-shadow: 0 0 2.5rem rgba(136, 133, 133, 0.308);
  --popup-background-color: hsla(240, 8%, 12%, 0.7);
}