.side-nav{
  background-color: rgba(0, 0, 0, 0.88);
  color: #1885c9;
  height: 100vh;
  width: 250px;
  text-transform: uppercase;
  position: fixed;
  padding-top: 48px;
  top: 0;
  left: -250px;
  z-index: -1;
  display: flex;
  justify-content: center;
  transition: left 0.3s ease-in;
}
.side-nav-menu{
  padding: 8px 4rem;
  letter-spacing: 1px;
}
.side-nav-menu:hover, .side-nav-subnav:hover{
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}
.side-nav-show{
  left: 0;
}
.side-nav-subnav{
  padding: 0.5rem;
  width: 16ch;
}