.side-nav{
  background-color: rgba(0, 0, 0, 0.88);
  color: #1885c9;
  height: 100%;
  text-transform: uppercase;
  position: fixed;
  padding-top: 48px;
  top: 0;
  left: -50%;
  z-index: -1;
  display: flex;
  justify-content: center;
  transition: left 0.3s ease-in;
  overflow: auto;
}
.side-nav-menu{
  padding: 8px 4rem;
  letter-spacing: 1px;
}
.side-nav-menu:hover, .side-nav-subnav:hover{
  background-color: #4440bc;
}
.side-nav-show{
  left: 0;
}
.side-nav-subnav{
  padding: 8px 4rem 8px 5rem;
}
.side-nav-logins{
  visibility: hidden;
  padding: 8px 4rem;
}

@media (max-width: 550px) {
  .side-nav{
    width: 100%;
    left: -100%;
  }
  .side-nav-show{
    left: 0;
  }
  .side-nav-logins{
    visibility: visible;
  }
}