body {
  max-width: 800px;
  margin: 0 auto;
}

body, input, button {
  font: 11pt/1.3 "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

button, label {
  font-weight: bold;
}

#profile {
  width: 400px;
}

dt {
  font-weight: bold;
  clear: left;
  float: left;
}
dt:after {
  content: ': ';
}

a {
  color: #7c4dff;
  border-bottom: 1px solid;
  cursor: pointer;
}
a:hover {
  color: #9b79fc;
}
