<div class="avatar-container">
    <img class="avatar-img"
         src=@url
         alt="avatar"/>
</div>
<style>
    .avatar-container {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid gainsboro;
        overflow: hidden;
        cursor: pointer;
    }
    .avatar-img {
        width: 100%;
        height: 100%;
    }
</style>

@code {
    [Parameter]
    public string url { get; set; }
}
