/* -------------------------------- *\
  #LATERAL-NAV
\*-------------------------------- */

.lateral-nav {
	position: absolute;
	height: calc(100% - 50px);
	right: 0;
	top: 50px;
	visibility: hidden;
	z-index: 3;
	width: 260px;
	background: rgba(28, 27, 53, 0.8);
	overflow-y: auto;


	/* Force Hardware Acceleration in WebKit */
	backface-visibility: hidden;
	transition: all 0.3s ease;

	/* this creates the subtle slide in animation of the navigation */
	transform: translateZ(0) translateX(260px);
}

.navigation a {
	position: relative;
	display: block;
	line-height: 2em;
	text-transform: uppercase;
	font-weight: 600;
	padding: 4px 16px 4px 32px;
	color: #1b90ca;

	border-left: 4px solid #00000000;
	transition: all 0.3s ease;
}

.navigation a.submenu-open {
	border-left: 4px solid #1b90ca;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
	color: #fff;
}

.sub-menu {
	padding: 10px 10px 10px 15px;
	display: none;
}

.no-touch .navigation a:hover {
	color: #fff;
}

.lateral-nav.lateral-menu-is-open {
	transform: translateX(0);
	visibility: visible;
	transition: all 0.3s ease;
	/* smooth the scrolling on touch devices - webkit browsers */
	-webkit-overflow-scrolling: touch;
}

.navigation .item-has-children > a::after {
	content: '';
	background-color: #1b90ca;
	-webkit-mask-image: url(../img/arrow.svg);
	mask-image: url(../img/arrow.svg);
	opacity: 50%;
	display: inline-block;
	height: 12px;
	width: 9px;
	position: absolute;
	bottom: auto;
	top: 45%;
	right: 1.5em;
	transition: all 0.3s ease;
}

.lateral-nav .item-has-children > a.submenu-open::after {
	background-color: #fff;
	transform: rotate(90deg);
	transition: all 0.3s ease;
}
