@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<H1>NEXTGENSOFTWARE OASIS API REST SERVICE WEB API TEST HARNESS V1.0</H1>

<input type="button" value="Get Weather Forecast" onclick="FetchRemote('/weatherforecast', 'GET')"/><br />
<input type="button" value="Get Terms" onclick="FetchRemote('/api/avatar/get-terms', 'GET')"/><br />
<input type="button" value="Refresh Token" onclick="FetchRemote('/api/avatar/refresh-token', 'POST')"/><br />
<input type="button" value="Login" onclick="Login('davidellams@hotmail.com', 'test!')"/><br />
<input type="button" value="Login Using NPM Package" onclick="LoginUsingNPMPackage('davidellams@hotmail.com', 'test!')"/><br />

<br />
<form action="http://localhost:5001" method="POST">
    <label>
        Host: <input type="text" id="remoteHost" name="remoteHost" value="https://localhost:5001" /> <br />
    </label>
    <label>
        Username: <input type="text" name="username" id="username" value="davidellams@hotmail.com" /> <br />
    </label>
    <label>
        Password: <input type="text" name="password" id="password" value="test!" /> <br />
    </label>
    @*<input type="submit" value="Submit" />*@
</form>

<br />
<input type="button" value="Login Using Form" onclick="LoginUsingForm()"/><br />

<div>
    <span id='remoteResponse'></span>
</div>

<script src="~/js/site.js"></script>