@page
@model NextGenSoftware.OASIS.API.ONODE.WebAPI.Pages.IndexModel

<script src="~/Scripts/jquery.js"></script>

<script>

    $(document).ready(function () {

        var options = {};
        options.url = "/api/values";
        options.type = "GET";
        options.dataType = "json";

        options.success = function (data) {

            data.forEach(function (element) {
                $("#result").append("<h3>" + element + "</h3>");
            });
        };

        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };

        $.ajax(options);
     });


</script>


<h1>@ViewData["heading"]</h1>

<h2>@Model.FullName</h2>

<h2>Result of Web API call</h2>

<div id="result"></div>
