/* ---------------------------------------------------------------------
 * https://codyhouse.co/codyhouse-framework/main/assets/css/style.css
 * ---------------------------------------------------------------------
 */

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    font: inherit;
}

html,
body,
div,
h3,
p,
a,
form {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg, white);
}

button,
input {
    margin: 0;
}

.btn,
.form-control,
.reset {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear {
    display: none;
}

svg {
    max-width: 100%;
}

:root {
    --space-unit: 1em;
}

:root,
* {
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);
}

[class*=gap-xxxs] {
    margin-bottom: -.75em;
    margin-left: -.75em;
}

[class*=gap-xxxs]>* {
    margin-bottom: .75em;
    margin-left: .75em;
}

@supports (--css:variables) {
    .flex[class*=gap-] {
        margin-bottom: calc(-1 * var(--gap-y, 0));
        margin-left: calc(-1 * var(--gap-x, 0));
    }
    .flex[class*=gap-]>* {
        margin-bottom: var(--gap-y, 0);
        margin-left: var(--gap-x, 0);
    }
    .gap-xxxs {
        --gap-x: var(--space-xxxs);
        --gap-y: var(--space-xxxs);
    }
}

@media (min-width:32rem) {
    @supports (--css: variables) {}
}

@media (min-width:48rem) {
    @supports (--css: variables) {}
}

@media (min-width:64rem) {
    @supports (--css: variables) {}
}

@media (min-width:80rem) {
    @supports (--css: variables) {}
}

@media (min-width:90rem) {
    @supports (--css: variables) {}
}

:root {
    --radius-sm: calc(var(--radius, 0.25em)/2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em)*2);
    --shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014), 0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038), 0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085), 0 30px 42px -1px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012), 0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035), 0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07), 0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117), 0 46px 60px -6px rgba(0, 0, 0, 0.2);
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

:root {
    --heading-line-height: 1.2;
    --body-line-height: 1.4;
}

body {
    font-size: var(--text-base-size, 1em);
    font-family: var(--font-primary, sans-serif);
    color: var(--color-contrast-high, #313135);
}

h3 {
    color: var(--color-contrast-higher, #1c1c21);
    line-height: var(--heading-line-height, 1.2);
}

h3 {
    font-size: var(--text-lg, 1.44em);
}

a {
    color: var(--color-primary, #2a6df4);
    text-decoration: underline;
}

.text-component h3 {
    line-height: calc(var(--heading-line-height) * var(--line-height-multiplier, 1));
    margin-bottom: calc(var(--space-unit) * 0.25 * var(--text-vspace-multiplier, 1));
}

.text-component h3 {
    margin-top: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
}

.text-component p {
    line-height: calc(var(--body-line-height) * var(--line-height-multiplier, 1));
}

.text-component p {
    margin-bottom: calc(var(--space-unit) * 0.75 * var(--text-vspace-multiplier, 1));
}

.text-component>*:first-child {
    margin-top: 0;
}

.text-component>*:last-child {
    margin-bottom: 0;
}

:root {
    --icon-xxxs: 8px;
    --icon-xxs: 12px;
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
    --icon-xxl: 96px;
    --icon-xxxl: 128px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    font-size: var(--btn-font-size, 1em);
    padding-top: var(--btn-padding-y, 0.5em);
    padding-bottom: var(--btn-padding-y, 0.5em);
    padding-left: var(--btn-padding-x, 0.75em);
    padding-right: var(--btn-padding-x, 0.75em);
    border-radius: var(--btn-radius, 0.25em);
}

.form-control {
    font-size: var(--form-control-font-size, 1em);
    padding-top: var(--form-control-padding-y, 0.5em);
    padding-bottom: var(--form-control-padding-y, 0.5em);
    padding-left: var(--form-control-padding-x, 0.75em);
    padding-right: var(--form-control-padding-x, 0.75em);
    border-radius: var(--form-control-radius, 0.25em);
}

:root {
    --zindex-header: 3;
    --zindex-popover: 5;
    --zindex-fixed-element: 10;
    --zindex-overlay: 15;
}

:root {
    --display: block;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.padding-md {
    padding: var(--space-md);
}

.text-xs {
    font-size: var(--text-xs, 0.694em);
}

[class^=color-],
[class*=" color-"] {
    --color-o: 1;
}

.color-contrast-medium {
    color: hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), var(--color-o, 1));
}

.color-contrast-high {
    color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), var(--color-o, 1));
}

@supports (--css:variables) {}

@supports (--css:variables) {}

:root {
    --max-width-xxxxs: 20rem;
    --max-width-xxxs: 26rem;
    --max-width-xxs: 32rem;
    --max-width-xs: 38rem;
    --max-width-sm: 48rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 90rem;
    --max-width-xxl: 100rem;
    --max-width-xxxl: 120rem;
    --max-width-xxxxl: 150rem;
}

@supports (--css:variables) {}

.bg,
[class*=" bg-"] {
    --bg-o: 1;
}

.bg {
    background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), var(--bg-o));
}

.bg-contrast-higher {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--bg-o, 1));
}

@supports (--css:variables) {}

@supports (--css:variables) {}

@media (min-width:32rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:48rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:64rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:80rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:90rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

:root {
    --color-primary-darker: hsl(220, 90%, 42%);
    --color-primary-darker-h: 220;
    --color-primary-darker-s: 90%;
    --color-primary-darker-l: 42%;
    --color-primary-dark: hsl(220, 90%, 49%);
    --color-primary-dark-h: 220;
    --color-primary-dark-s: 90%;
    --color-primary-dark-l: 49%;
    --color-primary: hsl(220, 90%, 56%);
    --color-primary-h: 220;
    --color-primary-s: 90%;
    --color-primary-l: 56%;
    --color-primary-light: hsl(220, 90%, 63%);
    --color-primary-light-h: 220;
    --color-primary-light-s: 90%;
    --color-primary-light-l: 63%;
    --color-primary-lighter: hsl(220, 90%, 70%);
    --color-primary-lighter-h: 220;
    --color-primary-lighter-s: 90%;
    --color-primary-lighter-l: 70%;
    --color-accent-darker: hsl(349, 75%, 36%);
    --color-accent-darker-h: 349;
    --color-accent-darker-s: 75%;
    --color-accent-darker-l: 36%;
    --color-accent-dark: hsl(349, 75%, 44%);
    --color-accent-dark-h: 349;
    --color-accent-dark-s: 75%;
    --color-accent-dark-l: 44%;
    --color-accent: hsl(349, 75%, 51%);
    --color-accent-h: 349;
    --color-accent-s: 75%;
    --color-accent-l: 51%;
    --color-accent-light: hsl(349, 75%, 59%);
    --color-accent-light-h: 349;
    --color-accent-light-s: 75%;
    --color-accent-light-l: 59%;
    --color-accent-lighter: hsl(349, 75%, 67%);
    --color-accent-lighter-h: 349;
    --color-accent-lighter-s: 75%;
    --color-accent-lighter-l: 67%;
    --color-black: hsl(240, 8%, 12%);
    --color-black-h: 240;
    --color-black-s: 8%;
    --color-black-l: 12%;
    --color-white: hsl(0, 0%, 100%);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-success-darker: hsl(94, 48%, 42%);
    --color-success-darker-h: 94;
    --color-success-darker-s: 48%;
    --color-success-darker-l: 42%;
    --color-success-dark: hsl(94, 48%, 48%);
    --color-success-dark-h: 94;
    --color-success-dark-s: 48%;
    --color-success-dark-l: 48%;
    --color-success: hsl(94, 48%, 56%);
    --color-success-h: 94;
    --color-success-s: 48%;
    --color-success-l: 56%;
    --color-success-light: hsl(94, 48%, 65%);
    --color-success-light-h: 94;
    --color-success-light-s: 48%;
    --color-success-light-l: 65%;
    --color-success-lighter: hsl(94, 48%, 74%);
    --color-success-lighter-h: 94;
    --color-success-lighter-s: 48%;
    --color-success-lighter-l: 74%;
    --color-error-darker: hsl(349, 75%, 36%);
    --color-error-darker-h: 349;
    --color-error-darker-s: 75%;
    --color-error-darker-l: 36%;
    --color-error-dark: hsl(349, 75%, 44%);
    --color-error-dark-h: 349;
    --color-error-dark-s: 75%;
    --color-error-dark-l: 44%;
    --color-error: hsl(349, 75%, 51%);
    --color-error-h: 349;
    --color-error-s: 75%;
    --color-error-l: 51%;
    --color-error-light: hsl(349, 75%, 59%);
    --color-error-light-h: 349;
    --color-error-light-s: 75%;
    --color-error-light-l: 59%;
    --color-error-lighter: hsl(349, 75%, 67%);
    --color-error-lighter-h: 349;
    --color-error-lighter-s: 75%;
    --color-error-lighter-l: 67%;
    --color-warning-darker: hsl(46, 100%, 47%);
    --color-warning-darker-h: 46;
    --color-warning-darker-s: 100%;
    --color-warning-darker-l: 47%;
    --color-warning-dark: hsl(46, 100%, 50%);
    --color-warning-dark-h: 46;
    --color-warning-dark-s: 100%;
    --color-warning-dark-l: 50%;
    --color-warning: hsl(46, 100%, 61%);
    --color-warning-h: 46;
    --color-warning-s: 100%;
    --color-warning-l: 61%;
    --color-warning-light: hsl(46, 100%, 71%);
    --color-warning-light-h: 46;
    --color-warning-light-s: 100%;
    --color-warning-light-l: 71%;
    --color-warning-lighter: hsl(46, 100%, 80%);
    --color-warning-lighter-h: 46;
    --color-warning-lighter-s: 100%;
    --color-warning-lighter-l: 80%;
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-h: 0;
    --color-bg-s: 0%;
    --color-bg-l: 100%;
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-lower-h: 0;
    --color-contrast-lower-s: 0%;
    --color-contrast-lower-l: 95%;
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-low-h: 240;
    --color-contrast-low-s: 1%;
    --color-contrast-low-l: 83%;
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-medium-h: 240;
    --color-contrast-medium-s: 1%;
    --color-contrast-medium-l: 48%;
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-contrast-high-h: 240;
    --color-contrast-high-s: 4%;
    --color-contrast-high-l: 20%;
    --color-contrast-higher: hsl(240, 8%, 12%);
    --color-contrast-higher-h: 240;
    --color-contrast-higher-s: 8%;
    --color-contrast-higher-l: 12%;
}

@supports (--css:variables) {
    @media (min-width: 64rem) {
         :root {
            --space-unit: 1.25em;
        }
    }
}

:root {
    --radius: 0.25em;
}

:root {
    --font-primary: system-ui, sans-serif;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --body-line-height: 1.4;
    --heading-line-height: 1.2;
    --font-primary-capital-letter: 1;
    --text-unit: 1em;
}

:root,
* {
    --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@supports (--css:variables) {
    @media (min-width: 64rem) {
         :root {
            --text-base-size: 1.25em;
            --text-scale-ratio: 1.25;
        }
    }
}

h3 {
    font-weight: 700;
}

.text-component {
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1;
}

:root {
    --btn-padding-y: var(--space-xxs);
    --btn-padding-x: var(--space-sm);
    --btn-radius: 0.25em;
    --btn-font-size: 1em;
}

.btn {
    line-height: 1.2;
    box-shadow: var(--shadow-xs);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .2s;
}

.btn:hover {
    cursor: pointer;
    box-shadow: var(--shadow-sm);
}

.btn:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.15);
}

.btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.btn--primary:hover {
    background-color: var(--color-primary-dark);
}

.btn--primary:focus {
    box-shadow: 0px 0px 0px 2px hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
}

:root {
    --form-control-padding-y: var(--space-xxs);
    --form-control-padding-x: var(--space-xs);
    --form-control-radius: 0.25em;
    --form-control-font-size: 1em;
}

.form-control {
    line-height: 1.2;
    background-color: var(--color-bg);
    border: 2px solid var(--color-contrast-low);
    transition: .2s;
}

.form-control::-webkit-input-placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
}

.form-control::-moz-placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
}

.form-control:-ms-input-placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
}

.form-control::-ms-input-placeholder {
    opacity: 1;
    color: var(--color-contrast-medium);
}

.form-control:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
}

:root {
    --list-space-y: var(--space-xxs);
    --list-offset: var(--space-xs);
    --list-line-height: var(--body-line-height);
}

@supports (--css:variables) {}

@supports (--css:variables) {}

@supports (--css:variables) {}

@supports (--css:variables) {}


/* ---------------------------------------------------------------------
 * https://codyhouse.co/app/components/source/modal-form/dist/modal-form.css?v=41
 * ---------------------------------------------------------------------
 */

[class*=gap-xxxs] {
    margin-bottom: -.75em;
    margin-left: -.75em;
}

[class*=gap-xxxs]>* {
    margin-bottom: .75em;
    margin-left: .75em;
}

@supports (--css:variables) {
    .flex[class*=gap-] {
        margin-bottom: calc(-1 * var(--gap-y, 0));
        margin-left: calc(-1 * var(--gap-x, 0));
    }
    .flex[class*=gap-]>* {
        margin-bottom: var(--gap-y, 0);
        margin-left: var(--gap-x, 0);
    }
    .gap-xxxs {
        --gap-x: var(--space-xxxs);
        --gap-y: var(--space-xxxs);
    }
}

@media (min-width:32rem) {
    @supports (--css: variables) {}
}

@media (min-width:48rem) {
    @supports (--css: variables) {}
}

@media (min-width:64rem) {
    @supports (--css: variables) {}
}

@media (min-width:80rem) {
    @supports (--css: variables) {}
}

@media (min-width:90rem) {
    @supports (--css: variables) {}
}

:root {
    --radius-sm: calc(var(--radius, 0.25em)/2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em)*2);
    --shadow-xs: 0 0.1px 0.3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
    --shadow-sm: 0 0.3px 0.4px rgba(0, 0, 0, 0.025), 0 0.9px 1.5px rgba(0, 0, 0, 0.05), 0 3.5px 6px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
    --shadow-lg: 0 1.2px 1.9px -1px rgba(0, 0, 0, 0.014), 0 3.3px 5.3px -1px rgba(0, 0, 0, 0.038), 0 8.5px 12.7px -1px rgba(0, 0, 0, 0.085), 0 30px 42px -1px rgba(0, 0, 0, 0.15);
    --shadow-xl: 0 1.5px 2.1px -6px rgba(0, 0, 0, 0.012), 0 3.6px 5.2px -6px rgba(0, 0, 0, 0.035), 0 7.3px 10.6px -6px rgba(0, 0, 0, 0.07), 0 16.2px 21.9px -6px rgba(0, 0, 0, 0.117), 0 46px 60px -6px rgba(0, 0, 0, 0.2);
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    --ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
}

:root {
    --icon-xxxs: 8px;
    --icon-xxs: 12px;
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
    --icon-xxl: 96px;
    --icon-xxxl: 128px;
}

.icon {
    --size: 1em;
    display: inline-block;
    color: inherit;
    fill: currentColor;
    height: var(--size);
    width: var(--size);
    line-height: 1;
    flex-shrink: 0;
    max-width: initial;
}

.x-s_ {
    --size: var(--icon-sm);
}

:root {
    --zindex-header: 3;
    --zindex-popover: 5;
    --zindex-fixed-element: 10;
    --zindex-overlay: 15;
}

:root {
    --display: block;
}

.flex {
    display: flex;
}

.x-ou {
    flex-direction: column;
}

.x-oc {
    justify-content: center;
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

.x-an {
    margin-bottom: var(--space-sm);
}

.x-ar {
    margin-bottom: var(--space-md);
}

.padding-md {
    padding: var(--space-md);
}

.text-xs {
    font-size: var(--text-xs, 0.694em);
}

[class*=color-] {
    --color-o: 1;
}

.color-contrast-medium {
    color: hsla(var(--color-contrast-medium-h), var(--color-contrast-medium-s), var(--color-contrast-medium-l), var(--color-o, 1));
}

.color-contrast-high {
    color: hsla(var(--color-contrast-high-h), var(--color-contrast-high-s), var(--color-contrast-high-l), var(--color-o, 1));
}

@supports (--css:variables) {}

@supports (--css:variables) {}

.x-my {
    width: 100%;
}

:root {
    --max-width-xxxxs: 20rem;
    --max-width-xxxs: 26rem;
    --max-width-xxs: 32rem;
    --max-width-xs: 38rem;
    --max-width-sm: 48rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 90rem;
    --max-width-xxl: 100rem;
    --max-width-xxxl: 120rem;
    --max-width-xxxxl: 150rem;
}

.x-yo {
    max-width: var(--max-width-xs);
}

.x-yv {
    max-height: 100%;
}

.x-bd {
    overflow: auto;
}

@supports (--css:variables) {}

.x-wo {
    border-radius: var(--radius-md);
}

.x-wg {
    box-shadow: var(--shadow-md);
}

.bg,
[class*=bg-] {
    --bg-o: 1;
}

.bg {
    background-color: hsla(var(--color-bg-h), var(--color-bg-s), var(--color-bg-l), var(--bg-o));
}

.bg-contrast-higher {
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), var(--bg-o, 1));
}

@supports (--css:variables) {
    .x-robg-ru {
        --bg-o: 0.9;
    }
}

@media (min-width:32rem) {
    .x-kn {
        flex-direction: row;
    }
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:48rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:64rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:80rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

@media (min-width:90rem) {
    @supports (--css: variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
    @supports (--css:variables) {}
}

.x-n_o {
    position: fixed;
    z-index: var(--zindex-overlay);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.x-n_u {
    opacity: 1;
    visibility: visible;
}

.x-n_f {
    display: flex;
    flex-shrink: 0;
    border-radius: 50%;
    transition: .2s;
}

.x-n_f .icon {
    display: block;
    margin: auto;
}

.x-n_l {
    width: 48px;
    height: 48px;
    position: fixed;
    top: var(--space-sm);
    right: var(--space-sm);
    z-index: var(--zindex-fixed-element);
    background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.8);
}

.x-n_l:hover {
    background-color: var(--color-contrast-higher);
}

.x-n_l .icon {
    color: var(--color-bg);
}

:root {
    --modal-transition-duration: 0.2s;
}

@media (prefers-reduced-motion:no-preference) {
    .x-n_p {
        --modal-transition-duration: .2s;
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s var(--modal-transition-duration);
    }
    .x-n_p .x-n_a {
        will-change: transform;
        transition: -webkit-transform var(--modal-transition-duration) var(--ease-out);
        transition: transform var(--modal-transition-duration) var(--ease-out), -webkit-transform var(--modal-transition-duration) var(--ease-out);
    }
    .x-n_p.x-n_u {
        transition: opacity var(--modal-transition-duration), background-color var(--modal-transition-duration), visibility 0s;
    }
    .x-n_p.x-n_u .x-n_a {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .x-n_p .x-n_a {
        -webkit-transform: scale(.95);
        transform: scale(.95);
    }
}


/* ---------------------------------------------------------------------
 * https://codyhouse.co/app/assets/css/app-demo.css
 * ---------------------------------------------------------------------
 */

.cd-demo-container {
    width: calc(100% - 2 * 1.25rem);
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;
}

.cd-demo-max-width-md {
    max-width: 64rem;
}

.cd-demo-flex {
    display: flex;
}

.cd-demo-justify-center {
    justify-content: center;
}

.cd-demo-padding-y-xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media (min-width:64rem) {
    .cd-demo-padding-y-xl {
        padding-top: 3.25rem;
        padding-bottom: 3.25rem;
    }
}
